################
# MQTT Settings
################

MQTT_BROKER_HOST = "mqtt"
MQTT_BROKER_PORT = 1883
MQTT_BROKER_LOGIN = "mqtt_login"
MQTT_BROKER_PASSWORD = "mqtt_password"

INCOMING_CALL_TOPIC_NAME = "vorota_toktogula/sim800l/incoming_call"
ERROR_TOPIC_NAME = "vorota_toktogula/sim800l/error"

##################
# VOROTA Settings
##################

VOROTA_NAME = "VOROTA_TOKTOGULA"
VOROTA_STATE_READ_INTERVAL_SEC = 0.1

###################
# SIM800L Settings
###################

MODEM_PORT = "/dev/ttyUSB0"
MODEM_BAUDRATE = 115200
MODEM_SIM_PIN = None

