[Unit]

Description=Vorota sim800l module call2mqtt service
After=network.target
StartLimitIntervalSec=5

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=python3 -u call2mqtt.py
WorkingDirectory=/home/user/Documents/sim800l-call2mqtt-python-local
TimeoutSec=300
StandardOutput=append:/home/user/Documents/sim800l-call2mqtt-python-local/logs/stdout.log
StandardError=append:/home/user/Documents/sim800l-call2mqtt-python-local/logs/stderr.log

[Install]
WantedBy=multi-user.target

